@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.timeline-line::before {
  content: '';
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 23px;
  width: 2px;
  background-color: #E2E8F0;
  z-index: 0;
}
.dark .timeline-line::before { background-color: #334155; }
.timeline-item:last-child .timeline-line::before { display: none; }